{% extends 'base.html.twig' %}

{% block title %}
    Create new Scraper
{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ url('scraper') }}">Scraper</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Scraper</li>
    </ol>
</nav>
<div class="container">
    <h1 class="text-center">Create Scraper</h1>
    {{ form_start(form) }}

        {{ form_widget(form) }}

    {{ form_end(form) }}
</div>
{% endblock %}