{% extends 'base.html.twig' %}

{% block title %}
    Scraper - {{ scraper.name }}
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ url('scraper') }}">Scraper</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ scraper.name }}</li>
    </ol>
</nav>
<div class="container">
    <h1 class="text-center">Scraper - {{ scraper.name }}</h1>
    <div class="table-responsive-sm">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="scope">Id</th>
                <th class="scope">Url</th>
                <th class="scope">Images(count)</th>
                <th class="scope">Time(sec)</th>
            </tr>
            </thead>
            <tbody>
            {% for page in scraper.pages %}
                <tr>
                    <td>{{ page.id }}</td>
                    <td>{{ page.url }}</td>
                    <td>{{ page.images }}</td>
                    <td>{{ page.time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}