{% extends 'base.html.twig' %}

{% block title %}Hello ScraperController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Scraper</li>
    </ol>
</nav>
<div class="container">
    <h1 class="text-center">Image Scraper</h1>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="table-responsive-sm">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="scope">Id</th>
                    <th class="scope">Name</th>
                    <th class="scope">Url</th>
                    <th class="scope">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for scraper in scrapers %}
                <tr>
                    <td>{{ scraper.id }}</td>
                    <td>{{ scraper.name }}</td>
                    <td>{{ scraper.url }}</td>
                    <td><a href="{{ url('scraper_detail', { id: scraper.id}) }}">View</a> | <a href="{{ url('scraper_delete', { id: scraper.id}) }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('scraper_add') }}" class="btn btn-primary float-right">Add new Scraper</a>
    </div>
</div>

{% endblock %}
