{% extends 'base.html.twig' %}

{% block title %}Hello ScraperController!{% endblock %}

{% block body %}
<div class="container p-4">
    <div class="text-center">
        <h1>Symfony Scraper Image! ✅</h1>
        <p class="lead">
            Hello. This program count images on the site by request. If you are like it, you can use it by free.
            <br>
            For start work go to this link - <a href="{{ url('scraper') }}" class="font-weight-bold">Scraper</a>
        </p>
    </div>
</div>
{% endblock %}
